language: node_js
sudo: required
dist: trusty
addons:
  # firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
node_js:
  - '6'
before_script: npm install
script: xvfb-run npm run travis
